<IfModule mod_headers.c>
#  Header add Access-Control-Allow-Origin "http://localhost:8080"
#  Header add Access-Control-Allow-Origin "http://tango.dip.jp"
SetEnvIf Origin "^https?://(localhost:8080|tango\.dip\.jp)" ORIGIN=$0
Header set Access-Control-Allow-Origin %{ORIGIN}e env=ORIGIN
</IfModule>

